<a href="https://colab.research.google.com/github/fajrawati/TUGAS/blob/main/fajrawati%20D0221116%20Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PERSYARATAN ALGORITMA DAN STRUKTUR DATA

Nama = Fajrawati
Kelas = informatika H
Nim  = D0221116

Tipe pada phyton

In [ ]:
angka = 35
print (angka)
print (type(angka))

35
<class 'int'>

In [ ]:
nilai = 2.4
print (nilai)
print (type(nilai))

2.4
<class 'float'>

In [ ]:
angka = 4<8
print (angka)
print (type(angka))

True
<class 'bool'>

String

In [ ]:
nama ="fajrawati"
print (nama)
print (type(nama))

fajrawati
<class 'str'>

In [ ]:
nama = input("masukkan nama:")
print ("nama saya {}".format(nama))
print (type(nama))

masukkan nama:Fajrawati
nama saya Fajrawati
<class 'str'>

Operator aritmetika

In [ ]:
nilai1 = 10
nilai2 = 5

print (nilai1+nilai2)
print (nilai1-nilai2)
print (nilai1*nilai2)
print (nilai1/nilai2)
print (nilai1%nilai2)
print (nilai1**nilai2)
print (nilai1//nilai2)

15
5
50
2.0
0
100000
2

Operator penugasan

In [ ]:
nilai = 2
nilai += 4
print (nilai)

6

In [ ]:
nilai = 2
nilai -= 4
print (nilai)

-2

In [ ]:
nilai = 2
nilai *= 4
print (nilai)

8

In [ ]:
nilai = 2
nilai /= 4
print (nilai)

0.5

In [ ]:
nilai = 2
nilai %= 4
print (nilai)

2

In [ ]:
nilai = 2
nilai //= 4
print (nilai)

0

In [ ]:
nilai = 2
nilai **= 4
print (nilai)

16

Operator perbandingan

In [ ]:
nilai = 4
nilai == 4
print ("nilai tersebut adalah 4")

nilai tersebut adalah 4

In [ ]:
nilai = 4
nilai != 5
print ("nilai tersebut bukan 4")

nilai tersebut bukan 4

In [ ]:
nilai = 5
nilai >= 4
print ("nilai tersebut lebih besar dari 4")

nilai tersebut lebih besar dari 4

In [ ]:
nilai = 2
nilai <= 4
print ("nilai tersebut lebih kecil dari 4")

nilai tersebut lebih kecil dari 4

Percabangan if elif else

In [ ]:
nilai = 50
if nilai> 60 :
 print ("lulus")
else :
 print ("tidak lulus")

tidak lulus

In [ ]:
umur = 4

if umur >= 1 and umur <= 12 :
 print ("anak-anak")
elif umur >= 13 and umur <=16 :
 print ("remaja")
else :
 print ("dewasa")

anak-anak

In [ ]:
umur =int(input("masukkan umur:"))

if umur >= 1 and umur <= 12 :
 print ("anak-anak")
elif umur >= 13 and umur <=16 :
 print ("remaja")
elif umur >= 17 and umur <= 100 :
 print ("dewasa")
else :
 print ("tua renta")

masukkan umur:34
dewasa

Operator logika

And 
Or
not