Nama =Fajrawati
Nim = D0221116 
Kelas =informatika H

Struktur data List,Tuple,Dictionary,Set

List mengaupdate,menghapus,menambahkan, dan perulangan.

In [ ]:
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan [:]

['kucing', 'ayam', 'kambing', 'sapi', 'monyet']

In [ ]:

#mengubah isi list kedua
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan [1] = 'ular'
print (nama_hewan)

['kucing', 'ular', 'kambing', 'sapi', 'monyet']

In [ ]:

#menampilkan isi list pertama
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan [0]

'kucing'

In [ ]:

#menampilkan isi list pada indeks 2 sampai 4
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan [2:]

['kambing', 'sapi', 'monyet']

In [ ]:

#Menambah item terakhir
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan.append('cacing')
print (nama_hewan)

['kucing', 'ayam', 'kambing', 'sapi', 'monyet', 'cacing']

In [ ]:

#Menambah 2 item terakhir
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan.extend(['kerbau','bangau'])
print (nama_hewan)

['kucing', 'ayam', 'kambing', 'sapi', 'monyet', 'kerbau', 'bangau']

In [ ]:

#menambah item di indeks
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan.insert(2,'badak')
print (nama_hewan)

['kucing', 'ayam', 'badak', 'kambing', 'sapi', 'monyet']

In [ ]:

#Menghapus item ke dua dilist
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
del nama_hewan [3]
print (nama_hewan)

['kucing', 'ayam', 'kambing', 'monyet']

In [ ]:

#menghapus berdasarkan nama
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan.remove ('ayam')
print (nama_hewan)

['kucing', 'kambing', 'sapi', 'monyet']

In [ ]:

#Menghapus item terkhir
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
nama_hewan.pop()
print (nama_hewan)

['kucing', 'ayam', 'kambing', 'sapi']

In [ ]:

#menggunakan perulangan
nama_hewan = ['kucing','ayam','kambing','sapi','monyet']
for i in nama_hewan :
 print (i)

kucing
ayam
kambing
sapi
monyet

Tuple mengapdate, mengubah,menghapus, dan perulangan

In [ ]:
nama_benda =("buku","pulpen","kertas","kipas","meja")
print (nama_benda)

('buku', 'pulpen', 'kertas', 'kipas', 'meja')

In [ ]:

#mengubah isi list kedua
nama_benda =("buku","pulpen","kertas","kipas","meja")
nama_benda = list(nama_benda)
nama_benda [1] = "mistar"
print (nama_benda)

['buku', 'mistar', 'kertas', 'kipas', 'meja']

In [ ]:
#menampilkan isi tuple pertama
nama_benda =("buku","pulpen","kertas","kipas","meja")
print (nama_benda)
nama_benda [0]

('buku', 'pulpen', 'kertas', 'kipas', 'meja')

'buku'

In [ ]:

#menampilkan isi tuple pada indeks 2 sampe 4
nama_benda =("buku","pulpen","kertas","kipas","meja")
print (nama_benda)
nama_benda [2:]

('buku', 'pulpen', 'kertas', 'kipas', 'meja')

('kertas', 'kipas', 'meja')

In [ ]:

#Menambah satu item diakhir tuple
nama_benda =("buku","pulpen","kertas","kipas","meja")
nama_benda = list (nama_benda)
nama_benda.append ("kompor")
print (nama_benda)

['buku', 'pulpen', 'kertas', 'kipas', 'meja', 'kompor']

In [ ]:

#Menghapus item kedua
nama_benda =("buku","pulpen","kertas","kipas","meja")
nama_benda = list (nama_benda)
del nama_benda [1]
print (nama_benda)

['buku', 'kertas', 'kipas', 'meja']

In [ ]:

#Menghapus berdasarkan nama
nama_benda =("buku","pulpen","kertas","kipas","meja")
nama_benda = list (nama_benda)
nama_benda.remove("kertas")
print (nama_benda)

['buku', 'pulpen', 'kipas', 'meja']

In [ ]:
#perulangan

nama_benda =("buku","pulpen","kertas","kipas","meja")
for i in nama_benda :
 print (i)

buku
pulpen
kertas
kipas
meja

Dictionary

In [ ]:
#membuat dictionary
dict_nama = {1:'fajra',2:'fajril'}
print (dict_nama)

{1: 'fajra', 2: 'fajril'}

In [ ]:
#Mengubah 
dict_nama = {1:'fajra',2:'fajril'}
dict_nama [2] = 'marsa'
print (dict_nama)

{1: 'fajra', 2: 'marsa'}

In [ ]:
#menambah
dict_nama = {1:'fajra',2:'fajril'}
dict_nama [3] = 'samsi'
print (dict_nama)

{1: 'fajra', 2: 'fajril', 3: 'samsi'}

In [ ]:
#menampilkan dictionary
dict_nama = {1:'fajra',2:'fajril'}
print (dict_nama[2])

fajril

In [ ]:
#perulangan
dict_nama ={1:'fajra',2: 'fajril'}
for i in dict_nama :
 print (i)

1
2

In [ ]:
dict_nama ={1:'fajra',2: 'fajril'}
for i in dict_nama :
 print (f"key:{i}value:{dict_nama[i]}")

key:1value:fajra
key:2value:fajril

Set

In [ ]:
#membuat set
Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
print (Himpunan_mahasiswa1)
print (Himpunan_mahasiswa2)

{'hidayah', 'Fani', 'Ratna', 'fajra', 'Rahma'}
{'yayat', 'haikal', 'edwin', 'efor', 'haerul'}

In [ ]:
#menggabungkan Set
Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
print (Himpunan_mahasiswa1.union(Himpunan_mahasiswa2))

{'hidayah', 'Fani', 'yayat', 'haerul', 'haikal', 'edwin', 'Ratna', 'fajra', 'efor', 'Rahma'}

In [ ]:
#selisi dari dua himpunan
Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
print (Himpunan_mahasiswa1.difference(Himpunan_mahasiswa2))

{'hidayah', 'Fani', 'Ratna', 'fajra', 'Rahma'}

In [ ]:
#menambah

Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
Himpunan_mahasiswa1.add('sabri')
print (Himpunan_mahasiswa1)

{'hidayah', 'Fani', 'sabri', 'Ratna', 'fajra', 'Rahma'}

In [ ]:
#menghapus
Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
Himpunan_mahasiswa1.discard('Ratna')
print (Himpunan_mahasiswa1)

{'hidayah', 'Fani', 'fajra', 'Rahma'}

In [ ]:
#Menghapus semua
Himpunan_mahasiswa1 ={'fajra','Ratna','hidayah','Rahma','Fani'}
Himpunan_mahasiswa2 ={'efor','yayat','haikal','haerul','edwin'}
Himpunan_mahasiswa1.clear()
print (Himpunan_mahasiswa1)

set()

In [ ]:
#perulangan

dict={'fajra','Ratna','hidayah','Rahma','Fani'}
for i in dict :
 print (i)

hidayah
Fani
Ratna
fajra
Rahma